/*\ UTILITY STYLES \*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
	height: 100%;
}

/*\ LAYOUT STYLES \*/

body {
  margin: 0;
  margin-top: 50px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #607E89;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  line-height: 80px;
  background-color: white;
  z-index: 2;
}

header * {
  display: inline;
}

header .logo {
  padding: 0;
  vertical-align: middle;
  margin: 10px 10px 20px 50px;
  height: 35px;
}

header h1 {
	font-size: 24px;
}

header .menu {
  margin-left: auto;
  padding-right: 70px;
  font-size: 20px;
  font-weight: 400;
}

header .menu a {
  color: inherit;
  text-decoration: inherit;
  padding: 0 5px;
}

li > a:hover {
  color: black;
}

.hero {
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 20px;
  max-height: 60vh;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
	width: 100%;
}

.hero-overlay {
	background: linear-gradient(rgba(20,20,20, .65), rgba(20,20,20, .65));
	color: white;
	font-weight: 400;
	font-size: 20px;
	height: 115px;
	display: block;
	position: absolute;
	margin: 10% 50px 50px 10%;
	padding: 20px;
}

.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  max-width: 100%;
  margin: 0px 5% 50px 5%;
  display: flex; 
  justify-content: center;
}

.content > section {
  flex: 1 1 0;
  text-align: center;
  margin: 25px 2.5% 0px 2.5%;
  max-width: 33%;
  font-weight: 400;
}

section h2 {
	padding-bottom: 10px;
	font-size: 20px;
}

.section-image {
  width: 170px;
  height: auto;
  padding-bottom: 15px;
}

footer {
  max-width: 100%;
  padding: 0px 5% 50px 5%;
  display: flex; 
  justify-content: center;
  background-color: #607E89;
  color: white;
}

footer .links {
	flex: 1 1 0;
	max-width: 30%;
	padding: 25px 5% 0px 0%;
	font-weight: 400;
}

footer .footer-form {
	flex: 1 1 0;
	padding: 25px 0% 0px 4%;
	max-width: 65%;
}

footer input[type="text"] { 
	line-height: 22px; 
	margin-bottom: 10px;
	width: 100%;
}

footer input[type="submit"] { 
	cursor:pointer;
	float: right;
	width: 170px;
	height: 25px;
	margin-top: 5px;
	background-color: #0279D6;
	color: inherit;
	border: 1px solid white;
	border-radius: 2px;	
}

footer input[type="submit"]:hover { 
	background-color: #b3d7f3;
	color: black;
	border-color: black;
}

.footer-links {
	list-style: none;
	line-height: 1.4;
}

.footer-links a {
	color: inherit;
	text-decoration: inherit;
}

.footer-heading {
	padding-bottom: 20px;
	text-decoration: underline;
	font-size: 16px;
}


/*\ SITUATIONAL BASE STYLES \*/

#car2 .section-image {
  padding-bottom: 30px;
}

#car3 .section-image {
  padding-bottom: 5px;
}

/*\ MEDIA QUERIES \*/

@media screen 
  and (max-width: 656px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
	header {	  
	  height: 100px;
	  line-height: 1;
	  flex-direction: column;
	}

	header * {
	  display: inline;
	}
	
	header .site-branding {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50%;
	}
	
	header .logo {
		padding: 0;
		margin: 10px 10px 10px 0px;
		vertical-align: middle;
	}
	
	header h1 {
		vertical-align: middle;
	}
  
	header .menu {
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		height: 50%;
		font-size: 20px;
		font-weight: 400;
	}
	
	.header-text {
		margin-top: 15px;
	}
	
	.hero {
		margin-top: 40px;
		height: 400px;
	}
	
	.hero-overlay {
		margin-left: 12%;
		margin-right: 12%;
	}
	
	.content {
		flex-direction: column;
	}
	
	.content > section {
		max-width: 100%;
	}
	
	footer {
		flex-direction: column;
	}
	
	footer .links {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	footer .footer-form {
		max-width: 100%;
		display: flex;
		padding-right: 5%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	footer .footer-form > form {
		width: 100%;
	}
	
	footer input[type="submit"] { 
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		float: none;
	}
	
}

@media screen 
  and (min-width: 1200px) {
	  
	.hero {
		background-position: top;
	}
	
	.hero-overlay {
		width: 50%;
		height: 30%;
		font-size: 36px;
		margin: 0 auto;
		top: 35%; 
		left: 50%;
		transform: translate(-50%, -50%);
	}
	  
	  
}